#TitleBar {
    margin-top: 1vh !important;
    display: flex;
    justify-content: center;
}
#TitleTxt{
    font-family: 'Times New Roman' !important;
    font-size: 8vmin;
    
}
#PhraseContainer{
    margin-top: 5vh;
    height: 80vh;
    
}

#AddPhraseBtn {
    display: flex;
    justify-content: center;
}

.col-sm-4{
    font-size: 100%;
}

.box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}
.texto{
    margin-right: 5vw; 
    font-family: 'Times New Roman';
    
}
