#TitleBar {
    margin-top: 1vh !important;
    display: flex;
    justify-content: center;
}

#TitleTxt{
    font-family: 'Courier New' !important;
    font-size: 6vmin;
    color: white;
}

.btn {
    font-family: 'Courier New';
    font-size: 1.5vw;
}

.btn:hover{
    background-color: #5f0087;
}

#PhraseContainer{
    margin-top: 22vh;
    height: 80vh;
    padding-left: 7vh;
}

#btnSection{
    justify-content: center;
    padding-bottom: 25px;
}

.col-sm-4{
    font-size: 100%;
}

.box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.texto{
    background: transparent;
    border: none !important;
    margin-right: 5vw; 
    display:none;
}

.texto:hover{
    margin-right: 5vw; 
    background-color: rgb(241, 239, 239);
    border-radius: 25px;
    color: blue;
}