#TitleBar {
    margin-top: 1vh !important;
    display: flex;
    justify-content: center;
}

#TitleTxt{
    font-family: 'Times New Roman' !important;
    font-size: 6vmin;
    color: white;
}

#PhraseContainer{
    margin-top: 20vh;
    height: 80vh;
    padding-left: 5vh;
}

#btnSection{
    justify-content: center;
    padding-bottom: 15px;
}

.col-sm-4{
    font-size: 100%;
}

.box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}

.texto{
    background: transparent;
    border: none !important;
    margin-right: 5vw; 
}

.texto:hover{
    margin-right: 5vw; 
    background-color: rgb(241, 239, 239);
    border-radius: 25px;
    color: blue;
}

body {
    background-color: white;
}